{% extends "layout.twig" %}
{% block containerClass %}container-fluid{% endblock %}

{% block title %}{{ albumTitle }} | {{ galleryName }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/js/lib/blueimp-gallery/css/blueimp-gallery.min.css">
{% endblock %}

{% block content %}


    <h3 style="float: left; padding-top: 5px; margin-right: 20px;">{{ galleryName }}</h3>

    <ul class="nav nav-pills" style="float: left; margin-bottom: 10px;">
        <li><a href="{{ streamUrl }}">Photo Stream</a></li>
        <li class="active"><a href="{{ albumUrl }}">Albums</a></li>
    </ul>
    <div class="clearfix"></div>

    {% include '_breadcrumbs.twig' %}

    {% include '_subalbums.twig' %}

    {% if files is empty and subAlbums is empty %}
        <div class="alert alert-warning">
            This album is empty.
        </div>
    {% endif %}

    {% include '_galleryHtmlNew.twig' %}

{% endblock %}

{% block footer %}
    {% include '_galleryJs.twig' %}
{% endblock %}

