{% extends "layout.twig" %}

{% block content %}
    {% if app.session.getFlashBag.get('just-connected') %}
        <div class="alert alert-success" role="alert">
            <p>
                <strong>OK!</strong>
                We've successfully connected to your Google Drive account.
            </p>
            <p>
                You can view your gallery at the URL below.
                You can also change the gallery name and URL, if you like.
            </p>
            <p>
                You can get back to this page at any time by selecting
                <strong>{{ app.user.name }} &raquo; Settings</strong> from the main menu.
            </p>
        </div>
    {% endif %}

    <h1>Gallery settings</h1>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">View your gallery here</h3>
        </div>
        <div class="panel-body">
            <a style="float: left; margin: 0px 20px 5px 0px;" class="lead" href="{{ galleryUrl }}">{{ galleryUrl }}</a>
            <div style="float: left;" id="share-button"></div>
        </div>
    </div>

    <h2>Edit settings</h2>

    <form role="form" method="POST">
        <div class="form-group">
            <label for="inputGalleryName">Gallery name</label>
            <input type="text"
                   maxlength="255"
                   class="form-control"
                   id="inputGalleryName"
                   placeholder=""
                   name="galleryName"
                   value="{{ galleryInfo.galleryName }}"
                   required>
        </div>
        <div class="form-group">
            <label for="inputSlug">Web address (URL)</label>
            <div class="input-group">
                <div class="input-group-addon">http://drivegal.com/</div>
                <input type="text"
                       maxlength="255"
                       class="form-control"
                       id="inputSlug"
                       placeholder=""
                       name="slug"
                       value="{{ galleryInfo.slug }}"
                       pattern="[A-Za-z0-9_\-]+"
                       title="Only letters, numbers, underscores (_), or hyphens (-) are allowed."
                       required>
            </div>
            <p class="help-block">
                Specify the custom portion of your gallery's URL (also known as its "slug").
            </p>
        </div>
        <button type="submit" class="btn btn-primary">Save settings</button>
        <a href="{{ path('my-gallery') }}" class="btn btn-link">Cancel</a>
    </form>

    <button id="deactivate-panel-toggle" class="btn btn-link" style="color: #a94442; padding: 0px; margin: 35px 0px 10px 0px;">
        Deactivate your gallery...
    </button>
    <div id="deactivate-panel" class="panel panel-danger" style="display: none;">
        <div class="panel-heading">
            <h2 class="panel-title">Deactivate your gallery</h2>
        </div>
        <div class="panel-body">
            <p>
                To disconnect from your Google Drive account and deactivate your gallery, click the button below.
            </p>
            <p>
                <a href="{{ path('deactivate') }}" class="btn btn-default">Deactivate gallery</a>
            </p>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <script src="/js/lib/share.min.js"></script>
    <script type="text/javascript">
        $(function() {
            new Share('#share-button', {
                url: "{{ galleryUrl }}",
                title: "{{ galleryInfo.galleryName }} | Photo Gallery for Google Drive",
                description: "Check out my photo gallery!",
                image: "http://drivegal.com/img/drivegal-logo-128.png",
                ui: {
                    flyout: "top right"
                },
                networks: {
                    email: {
                        title: "Check out my photo gallery!",
                        description: "Check out my online photo gallery: {{ galleryUrl }}"
                    }
                }
            });

            $('#deactivate-panel-toggle').on('click', function() { $('#deactivate-panel').toggle(); });
        });
    </script>
{% endblock %}

