<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title '' %} | Photo Gallery for Google Drive</title>

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png" />
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png" />
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png" />
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png" />
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png" />
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png" />
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png" />

        {#<link rel="stylesheet" href="/css/lib/bootstrap.readable/bootstrap.min.css">#}
        <link rel="stylesheet" href="/css/lib/bootstrap/css/bootstrap.min.css">
        <link href="{{ app.request.basepath }}/css/main.css" rel="stylesheet" type="text/css" />

        <!--[if !IE 7]>
        <style type="text/css">
            #wrap {display:table;height:100%}
        </style>
        <![endif]-->

        {% block css '' %}

        <!--script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script-->
    </head>
    <body>
        <div id="wrap">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{ path('homepage') }}" style="margin-top: -5px;">
                            <img src="/img/drivegal-logo-128.png" style="float: left; width: 45px; margin: -5px 5px 0px 0px;">
                            <div style="float: left; margin-top: -2px; color: #666;">
                                <div style="font-weight: bold; font-size: 24px;">Photo Gallery</div>
                                <div style="font-size: 14px;">for Google Drive</div>
                            </div>
                        </a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-right">
                            <!--li><a href="{{ path('homepage') }}">About</a></li-->
                            {% if app.user %}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.name }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="{{ path('my-gallery') }}">View your gallery</a></li>
                                        <li><a href="{{ path('settings') }}">Settings</a></li>
                                        <li class="divider"></li>
                                        <li><a href="{{ path('logout') }}">Sign out</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <li><a href="{{ path('setup') }}">Create Gallery</a></li>
                                <li><a href="{{ path('login') }}">Sign in</a></li>
                            {% endif %}
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>

            <div id="main" class="container-fluid">
                {% if app.session.getFlashBag.peek('success') %}
                    <div class="alert alert-success" role="alert">
                        <strong>OK!</strong> {% for msg in app.session.getFlashBag.get('success') %}{{ msg }}<br/>{% endfor %}
                    </div>
                {% endif %}

                {% if app.session.getFlashBag.peek('error') %}
                    <div class="alert alert-danger" role="alert">
                        <strong>Error: </strong> {% for error in app.session.getFlashBag.get('error') %}{{ error }}<br/>{% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>

        <div id="footer">
            <div class="text-muted">
                <img src="/img/drive_white-small.png" width="135" style="margin-right: 20px; float: left;">
                <div style="margin-top: 17px; display: inline-block; float: right;">
                    &copy; 2014 Jason Grimes.
                    Gallery contents copyright their respective owners.
                </div>
            </div>

        </div>

        <script src="/js/lib/jquery/jquery-1.11.1.min.js"></script>
        <script src="/css/lib/bootstrap/js/bootstrap.js"></script>
        <script type="text/javascript">
            $(function() {
                // When opening the collapsed navbar (on mobile), automatically expand the dropdowns inside it.
                $('.navbar').on('shown.bs.collapse', function(e) {
                    $(e.target).find('.dropdown-toggle').dropdown('toggle');
                });
            });
        </script>

        {% block footer '' %}
    </body>
</html>
