{% extends "layout.twig" %}
{% block containerClass %}container-fluid{% endblock %}

{% block title %} Photo Stream | {{ galleryName }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/js/lib/blueimp-gallery/css/blueimp-gallery.min.css">
{% endblock %}


{% block bodyTop %}
    <div id="loader" style="display:none;"></div>
{% endblock %}

{% block content %}
    <h3 style="float: left; padding-top: 5px; margin-right: 20px;">{{ galleryName }}</h3>

    <ul class="nav nav-pills" style="float: left; margin-bottom: 10px;">
        <li class="active"><a href="{{ streamUrl }}">Photo Stream</a></li>
        <li><a href="{{ albumUrl }}">Albums</a></li>
    </ul>
    <div class="clearfix"></div>

    {% include '_galleryHtmlNew.twig' %}

    <ul class="pager">
        {% if prevUrl %}
            <li><a href="{{ prevUrl }}">&larr; Previous</a></li>
        {% endif %}
        {% if nextUrl %}
            <li><a href="{{ nextUrl }}">Next &rarr;</a></li>
        {% endif %}
    </ul>

{% endblock %}

{% block footer %}
    {% include '_galleryJs.twig' %}
{% endblock %}
