{% extends "layout.twig" %}
{% block containerClass %}container-fluid{% endblock %}

{% block title %} Photo Stream | {{ galleryName }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/js/lib/blueimp-gallery/css/blueimp-gallery.min.css">
{% endblock %}


{% block bodyTop %}
    <div id="loader" style="display:none;"></div>
{% endblock %}

{% block content %}
    <h3 style="float: left; padding-top: 5px; margin-right: 20px;">{{ galleryName }}</h3>

    <ul class="nav nav-pills" style="float: left; margin-bottom: 10px;">
        <li class="active"><a href="{{ url('gallery', { gallery_slug: gallerySlug }) }}">Photo Stream</a></li>
        <li><a href="{{ url('album-list', { gallery_slug: gallerySlug }) }}">Albums</a></li>
    </ul>

    <div style="float: right; padding-top: 5px;" class="hidden-xs">
        {% include '_pagerSmall.twig' %}
    </div>

    <div class="clearfix"></div>

    {% include '_galleryHtmlNew.twig' %}

    <div style="margin-top: 20px;">
        <div class="visible-xs">
            {% include '_pagerSmall.twig' %}
        </div>
        <div class="hidden-xs">
            {{ paginator|raw }}
        </div>
    </div>

{% endblock %}

{% block footer %}
    {% include '_galleryJs.twig' %}
{% endblock %}
